* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

/* Navbar */
.navbar_container {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
}

.navbar_list {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 25px;
}

.navbar_list a {
  text-decoration: none;
  color: #eee;
  font-weight: 200;
}

.navbar_list a:hover {
  opacity: 0.5;
}

.navbar_list .active {
  text-decoration: underline;
}

main {
  width: 80%;
  margin: 5% auto;
}

/* Your Recipes */
.your_recipe_container {
  width: 100%;
}

.recipe_form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.recipe_form input[type="text"] {
  width: 300px;
  padding: 10px;
}

.add_btn {
  font-size: 32px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.add_btn:hover {
  font-size: 36px;
  opacity: 0.7;
}

.recipe_card_container {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.recipe {
  position: relative;
}
.delete_btn {
  font-size: 18px;
  background: transparent;
  outline: none;
  border: 1px solid grey;
  border-radius: 50%;
  text-align: center;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.recipe_image {
  width: 300px;
  heigth: 65px;
  border-radius: 15px 15px 0 0;
}

.your_recipe_card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  max-width: 300px;
  heigth: auto;
  border-radius: 15px;
}

.recipe_details {
  padding: 15px;
}

ul {
  list-style: none;
  font-size: 14px;
  line-height: 1.5;
}


