@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

/* Navbar */
.navbar_container {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
}

.navbar_list {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 25px;
}

.navbar_list a {
  text-decoration: none;
  color: #eee;
  font-weight: 200;
}

.navbar_list a:hover {
  opacity: 0.5;
}

.navbar_list .active {
  text-decoration: underline;
}

/* Main Content */
main {
  width: 80%;
  margin: 5% auto;
}

/* Your Recipes */
.your_recipe_container {
  width: 100%;
}

.recipe_form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.recipe_form input[type="text"] {
  width: 300px;
  padding: 10px;
}

.recipe_form input[type="file"] {
  width: 150px;
}

.add_btn {
  font-size: 32px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.add_btn:hover {
  font-size: 36px;
  opacity: 0.7;
}


/* Card */
.card_container {
  margin: 35px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.container {
  position: relative;
  margin-top: 15px;
}

.delete_btn {
  font-size: 14px;
  background: transparent;
  outline: none;
  border: 1px solid grey;
  border-radius: 50%;
  text-align: center;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}

.delete_btn:hover {
  background: black;
  color: white;
  border: none;
}

.card_image {
  width: 300px;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  max-width: 300px;
  height: 500px;
  border-radius: 15px;
}

.card_details {
  padding: 0 15px;
  overflow-y: auto;
  height: 280px;
}

.card_details::-webkit-scrollbar {
  width: 3px; /* Set the width of the scrollbar */
}

.card_details::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}

.card_details::-webkit-scrollbar-thumb {
  background: #b6b6b6; /* color of the scrollbar */
}

.card_details::-webkit-scrollbar-thumb:hover {
  background: #9E9E9E; /* color of the scrollbar on hover */
}

ul {
  list-style: none;
  font-size: 14px;
  line-height: 1.5;
}

.container .delete_btn {
    display: none; 
}

.container:hover .delete_btn {
    display: block; 
}

